---
import Layout from '../../layouts/Base.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({ params: { slug: post.slug }, props: { post } }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const { data } = post;
---
<Layout title={data.title}>
  <article class="blog-post">
    <div class="middle-screen my-12">
      <h1 class="text-3xl font-medium">{data.title}</h1>
      <time datetime={data.pubDate.toISOString()}>{data.pubDate.toLocaleDateString("en-GB", {day: "numeric", month: "short", year: "numeric"})}</time>
    </div>
    <div class="blog-post-body middle-screen flex flex-col gap-y-5">
      <Content />
    </div>
  </article>
</Layout>
