---
import Layout from '../layouts/Base.astro';
---
<Layout>
  <div class="middle-screen">
    <div class="mt-18">
      <h1 class="text-3xl font-medium">404 - Page not found</h1>
    </div>
</Layout>