---
import '../styles/global.css'
import '../styles/blog-post.css'
import '@fontsource-variable/lora';
import '@fontsource-variable/reddit-mono';

export interface Props {
  title?: string
  description?: string
  link?: string /* redirect to external page */
}
let { title, description, link } = Astro.props;
title = title ? "Lord_Idiot | " + title : "Lord_Idiot";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    { link ?
      <meta http-equiv="refresh" content=`0; url=${link}` />
      : null
    }
    <title>{title}</title>
    <meta>
    <meta property="og:title" content={title}>
    { description ?
      (<meta property="og:description" content={description} />)
      : null
    }
    <meta property="og:url" content={ Astro.url.href }>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Lord_Idiot's personal page">
    <meta property="og:locale" content="en_US">
  </head>
  <body class="mb-18">
    <header class="middle-screen pt-5">
      <nav class="w-full flex flex-row justify-between text-2xl">
        <a href="/">idiot<span class="text-gray-500">.sg</span></a>
        <div class="flex flex-row gap-x-12">
          <a href="/blog/page/1">posts<span class="text-gray-500">.</span></a>
        </div>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
